/.idea/**
/.tools/**
/houseparty-frontend/obj\\Debug/**
/houseparty-frontend/obj/**
/houseparty-frontend/.eslintcache
/HouseParty.AppHost/obj/**
/HouseParty.AppHost/bin/**
/HouseParty.Server/obj/**
/HouseParty.Server/bin/**
/HouseParty.Server.Tests/obj/**
/HouseParty.Server.Tests/bin/**
/HouseParty.GameEngine/bin/**
/HouseParty.GameEngine/obj/**
/HouseParty.GameEngine.Tests/bin/**
/HouseParty.GameEngine.Tests/obj/**
/HouseParty.E2E/bin/**
/HouseParty.E2E/obj/**
/houseparty-docs/build/**
/houseparty-docs/node_modules/**
/houseparty-docs/obj\\Debug/**
/houseparty-docs/obj/**
/houseparty-docs/.docusaurus
/houseparty-client/dist/**
/houseparty-client/node_modules/**
/houseparty-client/obj\\Debug/**
/houseparty-client/obj/**
HouseParty.sln.DotSettings.user
HouseParty.Server/ScratchPad.md
.aspire/settings.json