/.idea/**
/.tools/**
/frontend/obj/**
/frontend/.eslintcache
/HouseParty.AppHost/obj/**
/HouseParty.AppHost/bin/**
/HouseParty.Server/obj/**
/HouseParty.Server/bin/**
/HouseParty.Server.Tests/obj/**
/HouseParty.Server.Tests/bin/**
/HouseParty.GameEngine/bin/**
/HouseParty.GameEngine/obj/**
/HouseParty.GameEngine.Tests/bin/**
/HouseParty.GameEngine.Tests/obj/**
/HouseParty.E2E/bin/**
/HouseParty.E2E/obj/**
/houseparty-docs/build/**
/houseparty-docs/node_modules/**
/houseparty-docs/obj/**
/houseparty-docs/.docusaurus
/houseparty-sdk/dist/**
/houseparty-sdk/node_modules/**
/houseparty-sdk/obj/**
HouseParty.sln.DotSettings.user
